<div class="row">
  <div class="col s12 card-panel teal lighten-2">
    <h3 class="center-align" id="map-title"> Denver Food Deserts</h3>
  </div>
</div>


<div class="find-map center-align z-depth-4" id="map-canvas"></div>
<br>
<br>
