<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Food Oasis</h1>
      <div class="row center">
        <h5 class="header col s12 light">Bringing quality food from a garden to your table</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag("background4.jpg", alt: "Unsplashed background img 1") %></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">Obi-Wan Never Told You</h5>

          <p class="light">Jedi master bantha these aren't the droids you're looking for. Aren't you a little short for a stormtrooper tractor beam galactic republic. The empire strikes back fully operational battle station there is no try I'm here to rescue you. .</p> </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">I Am Your Father</h5>

          <p class="light"> Ewok Aunt Beru a new hope jawa that's no moon, it's a space station. Tatooine pick up some power converters it's a trap Greedo I'd just as soon kiss a wookiee spice mines. Wretched hive of scum and villainy scoundrel Chewbacca. </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">The Force is Strong With This One</h5>

          <p class="light">More powerful than you can possibly imagine the Force star destroyer ice planet Hoth. I find your lack of faith disturbing Master Yoda star systems. Nerf-herder do or do not thermal detonator tie fighter don't get cocky.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">This is our project. We gon' make it wurk</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("background1.jpg", alt: "Unsplashed background img 2") %></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Stormtrooper a new hope battle of Yavin. Han Solo Ewok R2D2 Greedo. Lando Calrissian hyperspace never tell me the odds Yoda. Jabba the Hutt land strider the dark side help me Obi-Wan Kenobi Boba Fett scoundrel. Trench run aren't you a little short for a stormtrooper sandpeople Kessel Run in less than twelve parsecs forest moon secret rebel base.</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">I'm not sure what to put here, but am tired of Ipsum</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("background5.jpg", alt: "Unsplashed background img 3") %></div>
</div>
