<div class-"container">
  <h1 class="text-center"> Learn More </h1>
  
  <%= image_tag 'carrots.png', class:"learn-more-image"%>
  
  <%= image_tag 'veggies.png', class:"learn-more-image"%>
  <%= image_tag 'apples.png', class:"learn-more-image"%>
  
</div>