<div class-"container">
  <h1 class="text-center learn-more-header"> Learn More </h1>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 info-box">
      <h4 class="text-center info-box-text">Register with Food Oasis.</h4>
  </div>
  <div class="col-md-1">
    <span class="glyphicon glyphicon-arrow-right info-arrow" aria-hidden="true"></span>
  </div>
  <div class="col-md-2 info-box">
    <h4 class="text-center info-box-text">Set your location.</h4>
  </div>
  <div class="col-md-1">
    <span class="glyphicon glyphicon-arrow-right info-arrow" aria-hidden="true"></span>
  </div>
  <div class="col-md-2 info-box">
    <h4 class="text-center info-box-text">Find fresh food near you.</h4>
  </div>

</div>
  <%= image_tag 'carrots.png', class:"learn-more-image"%>
  <%= image_tag 'pears.png', class:"learn-more-image"%>
  
  <%= image_tag 'veggies.png', class:"learn-more-image"%>
  <%= image_tag 'apples.png', class:"learn-more-image"%>
  
</div>