.main-hero {
  background-image: url('city-garden.png');
  background-repeat: no-repeat;
  min-height:600px;
  max-height:600px;
  background-size:100%;
  top-margin: 0;
}

#site-nav {
  margin-bottom: 0px;
}

.learn-more-header {
  border-bottom: 1px solid black;
}

.learn-more-image {
  margin-top: 50px;
  margin-left: 330px;
  min-height:300px;
  max-height:300px;
  
}

#signup-button {
  margin-top: 250px;
  margin-left: 470px;
  width: 200px;
}
