html, body {
  height: 100%; 
  #map-canvas { 
    height: 95%;
    width: 95%;
    margin: 0 auto; 
    padding: 0 auto;
  }
}

  #map-title{
    color: white;
  }

.main-hero {
  background-image: url('city-garden.png');
  background-repeat: no-repeat;
  min-height:600px;
  max-height:600px;
  background-size:100%;
  top-margin: 0;
}

#site-nav {
  margin-bottom: 0px;
}


.learn-more-header {
  border-bottom: 1px solid black;
}

.learn-more-image {

  min-height: 200px;
  max-height: 200px;
  
}
#info-page-btn {
  margin-bottom: 15px;
}


#signup-button {
  margin-top: 250px;
  margin-left: 470px;
  width: 200px;
}

.info-box {
  border: 1px solid black;
  border-radius: 25px;
  min-height: 300px;
}

.info-arrow {
  margin-top: 120px;
  margin-right: 20px;
  font-size: 3em;
}
