    
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">We are a group of students at the Turing School of Software and Design, a seven-month immersive web-development program focusing on Ruby and Javascript. If you like what you see here, feel free to reach out.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">LinkedIn</h5>
        <ul>
          <li><a class="white-text" href="https://www.linkedin.com/in/davidjdaniel">David</a></li>
          <li><a class="white-text" href="https://www.linkedin.com/in/patrickmedaugh">Patrick</a></li>
          <li><a class="white-text" href="#!">Kristina</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Github</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/davedan7">Daniel</a></li>
          <li><a class="white-text" href="https://github.com/patrickmedaugh">McDaugh</a></li>
          <li><a class="white-text" href="https://github.com/kristinabrown/food-oasis">Brown</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Want to learn how to build this? Learn more about <a class="brown-text text-lighten-3" href="http://www.turing.io">Turing</a>.
     </div>
  </div>
</footer>