<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!"><h6>Login</h6></a></li>
  <li><a href="/find"><h6>Map</h6></a></li>
  <li class="divider"></li>
  <li><a href="#!"><h6>Bluh</h6></a></li>
</ul>

<nav class="white" role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="/" class="brand-logo">Food Oasis</a>
    <ul class="right hide-on-med-and-down">
      <li class="waves-effect waves-light"> <a class="modal-trigger" href="#modal1">Login</a></li>
      <li class="waves-effect waves-light"><a href="#">Sign Up</a></li>
      <li class="waves-effect waves-light"><a href="/learn-more">Learn More</a></li>
      <li class="waves-effect waves-light"><a href="/find">Search</a></li>
      <li ><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    </ul>

    <!-- Mobile Navbar -->
    <ul id="nav-mobile" class="side-nav">
    <li><a class="waves-effect waves-light btn"><i class="mdi-file-cloud left z-depth-3"></i>Sign Up</a></li>
    <li><a href="/find">Search</a></li>
    <li><a href="/learn-more">Learn More</a></li>
      <!-- <li><a href="#">Navbar Link</a></li> -->
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

  <!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Log In to Food Oasis</h4>
      <div class="row">

      <!-- Login form -->
      <% form_for @user, html: { class: "col s12"} do |f| %>
        <div class="row">
        <%= f.text_field "Email", class: "input-field col s6 center-align" %>
        </div>
      <% end %>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">

          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
      </form>
    </div>
  </div>

    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>

<script>
  $(document).ready(function() {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>